@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<style>
    .spacer {
        margin-bottom: 5em; 
    }
</style>

<body>

    <div class="row">
        <div class="col-md-5">
            <img src="~/Images/aboutpicture.jpg" alt="Image" style="max-width:100%">
        </div>
        <div class="col-md-4">
            <p><strong>Name:</strong> Tom</p>
            <p><strong>Surname:</strong> McTom</p>
            <p><strong>Favourite Things TO-DO:</strong> Having birthday parties!</p>
            <p><strong>Favourite Gifts:</strong> Your Attendance!</p>
            <p>&nbsp;</p>
            <p>Now since you know everything about me - Please join me at my birthday party. I would love to see you there! Crafty Pig Restaurant really serves the best meals ever!</p>
            <div class="spacer"></div>
            <p><i>Your friend, Tom.</i></p>

        </div>
    </div>

</body>