@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

    <div class="row">
        <div class="col-md-4">
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <form action="#" method="post">
                            <div class="mb-3">
                                <label for="name" class="form-label">Name:</label>
                                <input type="text" class="form-control" id="name" name="name" required>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email:</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="mb-3">
                                <label for="message" class="form-label">Message:</label>
                                <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-dark">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <address>
            Crafty Pig Restaurant<br />
            Shed, FARM 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            +0044.5655.11345
        </address>
        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@CraftyPigRestaurants.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@CraftyPigRestaurants.com</a>
        </address>

    
    </div>